#illustration g[id] {
    visibility: hidden;
}

#illustration.step-1 g.step-1 {
    visibility: visible;
}

#illustration.step-2 g.step-2 {
    visibility: visible;
}

#illustration.step-3 g.step-3 {
    visibility: visible;
}

#illustration.step-4 g.step-4 {
    visibility: visible;
}